<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>348692331514-ljipbfupbvmv8pslib1ia6haai0du750.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.348692331514-ljipbfupbvmv8pslib1ia6haai0du750</string>
	<key>API_KEY</key>
	<string>AIzaSyD6FJMZ6-njWKF433V6u0phma6PLswp7QU</string>
	<key>GCM_SENDER_ID</key>
	<string>348692331514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rempc.app</string>
	<key>PROJECT_ID</key>
	<string>rempc-crm</string>
	<key>STORAGE_BUCKET</key>
	<string>rempc-crm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:348692331514:ios:b80c00222819913b094243</string>
</dict>
</plist>